name: "Terraform CI"

on:
  - pull_request

jobs:
  build:
    name: "Install & Build (PR check)"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "yarn"

      - name: Restore yarn cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/yarn
            node_modules
          key: yarn-cache-${{ runner.os }}-v1-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            yarn-cache-${{ runner.os }}-v1-

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build
